apiVersion: v1
kind: Service
metadata:
  name: todo-chatbot-frontend-service
  labels:
    app: todo-chatbot
    component: frontend
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30000
  selector:
    app: todo-chatbot
    component: frontend